// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #172780;
$heading: #28477D;
$color-one: #ED7417;
$color-two: #28477D;
$color-three:#172780;
$color-four: #E6FD5A;
$color-five: #0E3E2F;
$color-six: #DFFF5E;
$color-seven: #044F3B;
$color-eight: #1F5E59;
$color-nine: #D0FF45;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
